.navigation__btn-menu {
    display: none;
    margin-left: auto;
    padding: 0;
    width: 44px;
    height: 44px;
    outline: none;
    border: none;
    background-image: url('../../images/icon-menu.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: opacity .1s linear;
}

.navigation__btn-menu:hover {
    opacity: .8;
    cursor: pointer;
}

.navigation__sidebar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navigation__list-container {
    display: flex;
    flex-direction: column;
}

.navigation__btn-close {
    display: none;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    outline: none;
    border: none;
    background-image: url('../../images/icon-close-menu.svg');
    background-color: transparent;
    background-position: center center;
    background-size: 32px;
    background-repeat: no-repeat;
    align-self: flex-end;
    transition: opacity .1s linear;
}

.navigation__btn-close:hover {
    opacity: .8;
    cursor: pointer;
}

.navigation__list {
    display: flex;
    margin: 0 50px 0 0;
    padding: 0;
    list-style: none;
}

.navigation__list-item {
    margin: 0 17px 0 0;
}

.navigation__list-item:last-of-type {
    margin: 0;
}

.navigation__list-item_type_main {
    display: none;
}

.navigation__link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: opacity .1s linear;
}

.active {
    font-weight: 500;
}

.navigation__link:hover {
    opacity: .8;
    cursor: pointer;
}

.navigation__link_type_profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
    height: 28px;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    border-color: rgba(255, 255, 255, 0.2);
    background-color: transparent;
    font-size: 14px;
    padding: 0 3px;
}

.navigation__profile-icon {
    Width: 12px;
    Height: 14px;
    background-image: url(../../images/profile.svg);
    background-size: 12px 14px;
    background-repeat: no-repeat;
}

.navigation__profile-text {
    margin: 0;
}

@media screen and (max-width: 825px) {
    .navigation__btn-menu {
        display: flex;
    }

    .navigation__container {
        display: none;
    }

    .navigation__container_visible {
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 2;
    }

    .navigation__sidebar {
        box-sizing: border-box;
        width: 520px;
        min-height: 100vh;
        margin-left: auto;
        flex-direction: column;
        padding: 27px 27px 90px;
        background-color: #202020;
        justify-content: space-between;
    }

    .navigation__list-container {
        width: 100%;
    }

    .navigation__btn-close {
        display: flex;
    }

    .navigation__list {
        flex-direction: column;
        margin: 110px auto 0;
        align-items: center;
    }

    .navigation__list-item {
        margin: 0 0 24px;
    }

    .navigation__list-item_type_main {
        display: flex;
    }

    .navigation__link {
        padding: 0 0 4px;
        font-weight: 500;
    }

    .navigation__link_type_profile {
        line-height: 16px;
        padding: 0px;
    }

    .active {
        border-bottom: 1px solid #FFFFFF;
    }
}

@media screen and (max-width: 475px) {
    .navigation__list {
        margin: 105px auto 0;
    }

    .navigation__sidebar {
        padding: 18px 18px 46px;
    }

    .navigation__list-item {
        margin: 0 0 20px;
    }

    .navigation__btn-menu {
        width: 40px;
        height: 43px;
    }
}