.saved-movies {
    padding: 0 70px;
}

@media screen and (max-width: 825px) {
    .saved-movies {
        padding: 0 30px;
    }
}

@media screen and (max-width: 475px) {
    .saved-movies {
        padding: 0 10px;
    }
}