.checkbox {
    position: relative;
    display: block;
    width: 36px;
    height: 20px;
    cursor: pointer;
}

.checkbox input {
    display: none;
}

.checkbox__toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #202020;
    border-radius: 20px;
    transition: all 0.1s ease;
}

.checkbox__toggle:after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #A0A0A0;
    top: 2px;
    left: 1px;
    transition: all 0.3s ease;
}

input:checked+.checkbox__toggle:after {
    transform: translateX(17px);
    background: #2BE080
}

.checkbox__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 41px;
    margin-right: 14px;
}

.checkbox__container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 825px) {
    .checkbox__title {
        margin: 0 12px 0 0;
    }

    .checkbox__container {
        margin-top: 37px;
    }
}

@media screen and (max-width: 825px) {
    .checkbox__container {
        margin-top: 44px;
    }

    .checkbox__title {
        font-size: 11px;
    }
}