.about-project {
    padding: 110px 70px;
}

.section-title {
    margin: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 23px;
}

.about-project__text-container-title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 70px 0 26px;
}

.about-project__container {
    display: flex;
}

.about-project__text-container-text {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    max-width: 550px;
    margin-bottom: 0px;
}

.about-project__timeline-container {
    display: flex;
}

.about-project__timeline:first-child {
    flex-grow: 1;
}

.about-project__timeline:last-child {
    flex-grow: 4;
}

.about-project__timeline-title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
    background-color: #3DDC84;
    height: 36px;
    display: flex;
    margin-top: 110px;
    justify-content: center;
    align-items: center;
}

.about-project__timeline-title_type_light {
    background-color: #303030;
    color: #FFFFFF;
}

.about-project__timeline-text {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
    margin: 14px auto 0px;
}

@media screen and (max-width: 825px) {
    .about-project {
        padding: 90px 50px;
    }

    .about-project__text-container-text {
        font-size: 12px;
        line-height: 18px;
    }

    .about-project__text-container {
        max-width: 319px;
        margin-right: 30px;
    }

    .about-project__text-container:last-child {
        margin-right: 0px;
    }

    .about-project__timeline-title {
        margin-top: 93px;
        height: 35px;
    }

    .about-project__text-container-title {
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 475px) {
    .about-project {
        padding: 70px 18px;
    }

    .section-title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }

    .about-project__text-container-title {
        margin-bottom: 16px;
        margin-top: 58px;
        font-size: 18px;
        line-height: 22px;
    }

    .about-project__container {
        flex-direction: column;
    }

    .about-project__timeline-title {
        margin-top: 60px;
        font-size: 11px;
        line-height: 13px;
        margin-bottom: 10px;
    }

    .about-project__text-container {
        margin-right: 0px;
    }

    .about-project__timeline-text {
        font-size: 11px;
        line-height: 13px;
        margin-top: 0;
    }

    .about-project__text-container-text {
        font-size: 11px;
        line-height: 16px;
    }
}